<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Reporter</title>
  <script defer src="/js/app.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><h1>Weather Report</h1></header>
    <p id="nav-home">
      <a href="/weather">← Back to Home</a>
    </p>

    <div id="unit-toggle">
      <label for="unitToggle">Use Metric (°C)</label>
      <input type="checkbox" id="unitToggle" />
    </div>

    <div id="result-box">
      <div>
        <h2 class="result-label">location</h2>
        <p class="result-data"><%= weatherData.name %>, <%= weatherData.sys.country %></p>
      </div>
      <div>
        <h2 class="result-label">weather</h2>
        <% weatherData.weather.forEach((el) => { %>
          <p class="result-data"><%= el.description %></p>
        <% }); %>
      </div>
      <div>
        <h2 class="result-label">wind speed</h2>
        <p class="result-data imperial"><%= weatherData.wind.speed %> mph</p>
        <p class="result-data metric hidden"><%= weatherData.wind.kph %> kph</p>
      </div>
      <div>
        <h2 class="result-label">humidity</h2>
        <p class="result-data"><%= weatherData.main.humidity %>%</p>
      </div>
      <div>
        <h2 class="result-label">temperature</h2>
        <p class="result-data imperial"><%= weatherData.main.temp %>°F</p>
        <p class="result-data metric hidden"><%= weatherData.main.celsius %>°C</p>
      </div>
      <div>
        <h2 class="result-label">sunrise</h2>
        <p class="result-data"><%= weatherData.sys.sunrise %></p>
      </div>
      <div>
        <h2 class="result-label">sunset</h2>
        <p class="result-data"><%= weatherData.sys.sunset %></p>
      </div>
    </div>

    <h2>5-Day Forecast</h2>
    <div id="forecast-box">
      <% forecastData.list.forEach((data) => { %>
        <div class="forecast-details">
          <p class="forecast-date"><%= data.dt %></p>
          <p class="forecast-unit imperial"><%= data.main.temp %>°F</p>
          <p class="forecast-unit metric hidden"><%= data.main.celsius %>°C</p>
          <p class="forecast-unit"><%= data.weather[0].description %></p>
          <p class="forecast-unit"><%= data.main.humidity %>% humid</p>
          <p class="forecast-unit imperial"><%= data.wind.speed %> mph wind</p>
          <p class="forecast-unit metric hidden"><%= data.wind.kph %> kph wind</p>
        </div>
      <% }) %>
    </div>

</html>