<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Checker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><h1>Weather Checker</h1></header>

    <div id="unit-toggle">
    <!-- Checkbox to toggle between Imperial and Metric -->
      <label for="unitToggle">Use Metric (째C)</label>
      <input type="checkbox" id="unitToggle" />
    </div>

    <div id="result-box">
      <h2 class="result-label">location</h2>
      <p class="result-data"><%= weatherData.name %>, <%= weatherData.sys.country %></p>

      <h2 class="result-label">temperature</h2>
      <p class="result-data" id="tempValue"><%= weatherData.main.temp %>째F</p>

      <h2 class="result-label">weather</h2>
      <% weatherData.weather.forEach((el) => { %>
        <p class="result-data"><%= el.main %></p>
      <% }); %>

      <h2 class="result-label">humidity</h2>
      <p class="result-data"><%= weatherData.main.humidity %>%</p>

      <h2 class="result-label">wind speed</h2>
      <p class="result-data" id="windValue"><%= weatherData.wind.speed %> mph</p>

      <h2 class="result-label">sunrise</h2>
      <p class="result-data" id="windValue"><%= weatherData.sys.sunrise %></p>

      <h2 class="result-label">sunset</h2>
      <p class="result-data" id="windValue"><%= weatherData.sys.sunset %></p>
    </div>

    <p id="nav-home">
      <a href="/weather">Go Back Home</a>
    </p>

    <script>
      const unitToggle = document.querySelector('#unitToggle');
      const tempValue = document.querySelector('#tempValue');
      const windValue = document.querySelector('#windValue');
      const tempFString = `<%= weatherData.main.temp %>째F`;
      const tempCString = `<%= tempC %>째C`;
      const mphString = `<%= weatherData.wind.speed %> mph`;
      const kphString = `<%= windKph %> kph`;

      unitToggle.checked = false;

      unitToggle.addEventListener('change', () => {
        if (unitToggle.checked) {
          tempValue.textContent = tempCString
          windValue.textContent = kphString
        } else {
          tempValue.textContent = tempFString
          windValue.textContent = mphString
        }
      });
    </script>
</body>
</html>