<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Reporter</title>
  <script defer src="/js/app.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><h1>Weather Report</h1></header>

    <div id="unit-toggle">
      <label for="unitToggle">Use Metric (째C)</label>
      <input type="checkbox" id="unitToggle" />
    </div>

    <div id="result-box">
      <h2 class="result-label">location</h2>
      <p class="result-data"><%= weatherData.name %>, <%= weatherData.sys.country %></p>

      <h2 class="result-label">temperature</h2>
      <p class="result-data" id="tempF"><%= weatherData.main.temp %>째F</p>
      <p class="result-data hidden" id="tempC"><%= tempC %>째C</p>

      <h2 class="result-label">weather</h2>
      <% weatherData.weather.forEach((el) => { %>
        <p class="result-data"><%= el.main %></p>
      <% }); %>

      <h2 class="result-label">humidity</h2>
      <p class="result-data"><%= weatherData.main.humidity %>%</p>

      <h2 class="result-label">wind speed</h2>
      <p class="result-data" id="windMph"><%= weatherData.wind.speed %> mph</p>
      <p class="result-data hidden" id="windKph"><%= windKph %> kph</p>

      <h2 class="result-label">sunrise</h2>
      <p class="result-data"><%= weatherData.sys.sunrise %></p>

      <h2 class="result-label">sunset</h2>
      <p class="result-data"><%= weatherData.sys.sunset %></p>
    </div>

    <p id="nav-home">
      <a href="/weather">Go Back Home</a>
    </p>

    <h2>5-Day Forecast</h2>
    <div id="forecast-box">
      <% forecastData.list.forEach((data) => { %>
        <div class="forecast-details">
          <p>Day: <%= data.dt %></p>
          <p>Temp: <%= data.main.temp %>째F</p>
          <p>Weather: <%= data.weather[0].main %></p>
          <p>Humidity: <%= data.main.humidity %>%</p>
          <p>Wind: <%= data.wind.speed %> mph</p>
        </div>
      <% }) %>
    </div>

</html>